<div class="tweet-card">
  <div class="tweet">
    <div class="avatar">
      <% if tweet.user.present? && tweet.user.avatar.attached? %>
        <%= image_tag url_for(tweet.user.avatar), style: "max-width: 100px; max-height: 100px;" %>
      <% else %>
        <%= image_tag "avatar.png", style: "max-width: 100px; max-height: 100px;" %>
      <% end %>
    </div>

    <div class="tweet-content">
      <strong>
        <%= tweet.user.username %> @<%= tweet.user.name %>
      </strong>
      <p class="time-ago">
        <%= time_ago_in_words(tweet.created_at) %> ago
      </p>
    </div>
  </div>

  <div class="tweet-body">
    <%= tweet.body %>
  </div>

  <div class="replies-likes">
    <p>
      <%= image_tag "icono-respuesta.png", alt: "replies" %> <%= tweet.replies_count %>
    </p>
    <p>
      <%= image_tag "icono-me-gusta.png", alt: "likes" %> <%= tweet.likes_count %>
    </p>
  </div>
</div>





