<div id="<%= dom_id user %>">
  <% if user.avatar.attached? %>
  <div>
    <%= image_tag user.avatar, alt: "user avatar", style: "width: 300px; height: auto;"%>
  </div>
  <%end%>
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

</div>
