<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <nav class="navbar">
        <div class="logo">
        <%= link_to root_path do%>
        <img  src="<%= asset_path('logo-tweet.png') %>" alt="Menú">
        <%end%>
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <nav class="navbar">
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <% if user_signed_in? %>
    <div class="navbar-links">
      <ul>
        <strong>Welcome @<%= current_user.username %></strong>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  <% else %>
    <div class="navbar-links">
      <ul>
        <strong>Thanks for using Tweetable!</strong>
        <%# Verifica si el usuario ha iniciado sesión antes de mostrar el enlace al perfil %>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>

    </nav>
  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]

    toggleButton.addEventListener('click', () => {
    navbarLinks.classList.toggle('active')
    })
  </script>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="footer">
    <div class="footer-content">
      <p class="footer-text">© 2023 - Codeable Tweetable</p>
      <p class="footer-text">Built with ♥ by</p>
      <p class="footer-names">
          <span class="footer-icon"><img src="/assets/icon/inlink.png" alt="User Icon"></span>
          <span class="footer-name">Celso Chinchay</span>
      </p>
    </div>
  </footer>
  </body>
</html>
